body{
    margin: 0;
    padding: 0 100px;
    background-color: #b2e0df;
    height: 60vh;
    display: flex;
    justify-content:center;
    align-items:center;

}

.searchBar{
    background: #fff;
    height: 40px;
    border-radius: 32px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* transition: 0.8s; 
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
              inset -4px -4px 6px 0 rgba(255,255,255,.2),
              inset 4px 4px 6px 0 rgba(0, 0, 0, .2);  */
}

.searchInput{
    width: 500px;
}

.searchBar .searchInput{
    background: transparent;
    border: none;
    outline:none;

    font-weight: 500;
    font-size: 16px;

}

.searchBar .searchBtn .fas{
    color: #5cbdbb;
}

.searchBtn {
    margin-right: 10px;
}
